{{ if .Params.image }}
{{ $image := (resources.Get .Params.image).Fill "2000x1168 smart" }}
<header class="site-header" style="background-image:url({{ $image.RelPermalink }});">
{{ else }}
<header class="site-header">
{{ end }}
  <div class="site-header-overlay"></div>
  <div class="vertical">
    <div class="site-header-content">
      <div class="site-header-cta">
        <h1>Lauren Gray</h1>
        <h2>Photography</h2>
        <p>Ready to start growing your business or organization?</p>
        <a href="{{ .Params.button_url }}" class="button"><span>{{ .Params.button_text }}</span></a>
      </div>
    </div>
  </div>
</header>
<img src="/images/header-bottom.svg" alt="" class="site-header-bottom">
