{{ define "main" }}
{{ block "header" . }}{{ partial "site/page-header.html" . }}{{ end }}
<section class="block-container">
<div class="gallery">
    {{- if .Params.gallery -}}
      {{ range .Params.gallery }}
      {{ $imageSmall := (resources.Get .).Resize "600x"  }}
      {{ $imageLarge := (resources.Get .).Resize "2000x" }}
      <div class="block-gallery-item">
        <a class="block-gallery-item-image" href="{{ $imageLarge.RelPermalink }}">
          <img src="{{ $imageSmall.RelPermalink }}">
        </a>
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>

{{ end }}