{{ define "main" }}
{{ block "header" . }}{{ partial "site/page-header.html" . }}{{ end }}
<section class="block-container fade-in-slow">
  {{ range where .Data.Pages "Section" "portfolio" }}
  {{ $image := (resources.Get .Params.image).Fill "800x500 smart" }}
    <a href="{{ .URL }}" class="block-session">
      <img src="{{ $image.RelPermalink }}" alt="">
      <div class="block-session-overlay"></div>
      <div class="block-session-content">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
      </div>
    </a>
  {{ end }}
</section>
{{ end }}